@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.lb-loader,
.lightbox {
  text-align: center;
  line-height: 0;
}

body:after {
  content: url(../../img/icon/close.png) url(../../img/icon//loading.gif) url(../../img/icon//prev.png) url(../../img/icon/next.png);
  display: none;
}

.lb-dataContainer:after,
.lb-outerContainer:after {
  content: "";
  clear: both;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: 400;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}

.lb-loader,
.lb-nav {
  position: absolute;
  left: 0;
}

.lb-outerContainer:after {
  display: table;
}

.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../img/icon/loading.gif) no-repeat;
}

.lb-nav {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}

.lb-next,
.lb-prev {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../img/icon/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../img/icon/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  display: table;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../img/icon/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1;
}

/*Подключение шрифтов*/
body {
  font-family: Roboto, Arial;
  color: #383a40;
}

body h1 {
  font-size: 40px;
}

body h2 {
  font-size: 40px;
}

body h3 {
  font-size: 20px;
  line-height: 25px;
}

body p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
  margin-bottom: 8px;
}

.greencolor {
  color: #6cab92;
}

.whitecolor {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.center {
  text-align: center;
}

.vertcenterh1h2 {
  padding: 15px 0;
}

.padh3 {
  padding: 10px;
}

.subtitle {
  font-size: 15px;
}

.card {
  border: 2px solid #b2b3b3;
  background: #e3efe0;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: #b2b3b3 1px 1px 2px;
          box-shadow: #b2b3b3 1px 1px 2px;
}

.button__up {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/icon/arrow_Up.svg") 50%/60% no-repeat, #f1a511;
}

.button__up a {
  display: block;
  height: 100%;
}

.inst {
  background: url("../img/icon/inst.svg") center/90% no-repeat;
}

.inst a {
  display: block;
  height: 100%;
}

.inst:hover {
  background: url("../img/icon/inst-hover.svg") center/86% no-repeat;
}

.vk {
  background: url("../img/icon/vk.svg") center/90% no-repeat;
}

.vk a {
  display: block;
  height: 100%;
}

.vk:hover {
  background: url("../img/icon/vk-hover.svg") center/86% no-repeat;
}

.wa {
  background: url("../img/icon/wa.svg") center/90% no-repeat;
}

.wa a {
  display: block;
  height: 100%;
}

.wa:hover {
  background: url("../img/icon/wa-hover.svg") center/86% no-repeat;
}

/*----------------------------------Основной стиль----------------------------------*/
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e3efe0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  background: #d6e9d8;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*------------------------------=ПЕРВЫЙ СЛАЙД=------------------------------*/
.cover {
  position: relative;
}

.cover__item {
  text-align: center;
}

.cover__item img {
  display: block;
  position: relative;
  width: 100%;
}

.slider__cover {
  min-width: 0;
  position: relative;
}

.slider__cover .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider__cover .slick-list {
  overflow: hidden;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #6cab92;
  border-radius: 10px;
  margin: 10px 5px;
}

.menu__button a {
  display: block;
  height: 100%;
  padding: 15px 5px;
  font-size: 17px;
}

.menu__button a:hover {
  background: #59947d;
  border-radius: inherit;
}

.button__cover {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
}

.button__cover .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__cover .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.button__cover .slick-dots li.slick-active button {
  background: #6cab92;
}

.button__cover .slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #f5f5f5;
  opacity: 0.9;
  border-radius: 50%;
  background: transparent;
}

/*----------------------------=ТЕННИС ДЛЯ ВСЕХ=----------------------------*/
.forall {
  background: #e3efe0;
}

.forall__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forall__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 20px;
}

/*---------------------=ВЫБЕРИТЕ ТРЕНИРОВКУ ДЛЯ СЕБЯ=----------------------*/
.trainingtype__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.trainingtype__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trainingtype__item:hover {
  border: 2px solid #f1a511;
  -webkit-box-shadow: #f1a511 1px 1px 2px;
          box-shadow: #f1a511 1px 1px 2px;
}

.trainingtype__image {
  margin: 0 auto;
}

.trainingtype__image img {
  display: block;
  border-radius: 7px;
}

.trainingtype__title {
  margin: 5px 0 0 0;
  position: relative;
  cursor: pointer;
}

.trainingtype__title::after {
  content: "";
  position: absolute;
  border: 8px solid #6cab92;
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  bottom: -10px;
  left: 50%;
  right: 50%;
  margin: 0 0 0 -8px;
  -webkit-transition: border-color 0.5s ease, all 0.5s ease;
  transition: border-color 0.5s ease, all 0.5s ease;
}

.trainingtype__title.active::after {
  border: 8px solid #f1a511;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

.trainingtype__text {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px 0 0 0;
}

/*--------------------------------=ТРЕНЕР=---------------------------------*/
.biography__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 0px 20px;
}

.biography__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.biography__image img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.biography__title {
  margin: 10px;
}

.biography__title a {
  color: #383a40;
}

.biography__title a:hover {
  color: #f1a511;
}

.biography__text {
  padding: 0 0 0 20px;
}

/*-------------------------------=ЗАПИШИТЕСЬ=------------------------------*/
.contacts {
  background: #e3efe0;
}

.contacts__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.contacts__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
  margin: 20px 0;
}

.contacts__phone {
  margin: 0 0 20px 0;
}

.contacts__phone a {
  display: block;
  font-size: 40px;
}

.contacts__phone a:hover {
  color: #f1a511;
}

/*--------------------------=ВЛИВАЙТЕСЬ В ПРОЦЕСС=-------------------------*/
.slider {
  min-width: 0;
  position: relative;
  padding: 0 50px;
  margin: 0 0 10px 0;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .slick-list {
  overflow: hidden;
}

.slider__item {
  margin: 0 30px;
  text-align: center;
}

.slider__item a img {
  display: block;
  width: 100%;
  border-radius: 7px;
}

.slider__item a {
  position: relative;
  display: block;
}

.slider__item a:after {
  content: "";
  background: transparent url(../../img/icon/eye.svg) 50% 50%/20% no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  visibility: hidden;
}

.slider__item:hover > a:after {
  visibility: visible;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0px;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../../img/icon/arrow_prev.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../../img/icon/arrow_next.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background: #6cab92;
}

.slider .slick-dots li button {
  list-style: none;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #59947d;
  border-radius: 50%;
}

/*---------------------------------=ФУТЕР=---------------------------------*/
.footer .container {
  padding: 26.5px 0 0 0;
  background: #8fbc8f;
  height: 65px;
  text-align: center;
  font-size: 12px;
}

/* @media (max-width: 1280px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
} */
